service vendor.tcmd /vendor/bin/tcmd
    class core
#  Total number of supplementary groups below is 32 now. Limit defined in service.h is 64.
#  Please update the current number if you add more groups.
    group mot_tcmd radio mot_pwric input system log camera graphics sdcard_r sdcard_rw audio inet bluetooth wifi compass net_bt_admin drmrpc mount net_raw net_admin media shell nfc oem_2901 mot_dbvc cache media_rw mot_dtv mot_mod qti_diag
    socket local_tcmd stream 0660 mot_tcmd mot_tcmd
    socket batch_socket stream 0600 mot_tcmd mot_tcmd
    oneshot
    disabled

service vendor.tcmdhelp /vendor/bin/tcmdhelp
    class main
    user root
    group system oem_2901 root mot_pwric
    socket tcmdhelp stream 0600 mot_tcmd mot_tcmd
    oneshot
    disabled

service vendor.ftmipcd /vendor/bin/ftmipcd
    user radio
    group radio net_raw inet oem_2901
    disabled
    oneshot

service tcmd_system /system/bin/tcmd_system
    class main
    user root
    group mot_prod_persist
    oneshot
    disabled

on property:ro.bootmode=factory
    start vendor.ftmipcd

on property:ro.bootmode=mot-factory
    start vendor.ftmipcd

# Power up to suspend
on property:vendor.tcmd.suspend=1
    stop surfaceflinger
    stop zygote
    stop sensors

# Normal to suspend
on property:vendor.tcmd.suspend=2
    stop surfaceflinger
    stop zygote
    stop sensors
    stop qcamerasvr
    stop vendor.hwcomposer-2-1
    stop vendor.hwcomposer-2-2

on property:vendor.tcmd.start_tcmdhelp=1
    start vendor.tcmdhelp

on property:vendor.tcmd.start_ftmdaemon=1
    start vendor.mot.ftmd

on property:vendor.tcmd.start_wdsdaemon=1
    start vendor.wdsdaemon

on property:vendor.tcmd.start_wdsdaemon=0
    stop vendor.wdsdaemon

service vendor.wdsdaemon /vendor/bin/wdsdaemon -us
    class late_start
    user root
    group mot_tcmd bluetooth net_bt_admin misc oem_2901 net_bt
    disabled
    oneshot

on property:vendor.tcmd.start_fm_wdsdaemon=1
    start vendor.fm_wdsdaemon

on property:vendor.tcmd.start_fm_wdsdaemon=0
    stop vendor.fm_wdsdaemon

service vendor.fm_wdsdaemon /vendor/bin/wdsdaemon -ms
    class late_start
    user root
    group mot_tcmd
    disabled
    oneshot

service vendor.mot.ftmd /vendor/bin/ftmdaemon
    class late_start
    user root
    group oem_2901 bluetooth net_bt_admin misc net_bt_stack diag net_bt
    disabled
    oneshot

on property:vendor.tcmd_system.action=*
    setprop sys.tcmd_system.action ${vendor.tcmd_system.action}
    start tcmd_system

on post-fs
    # change permission of utag for tcmd daemon
    chown root system /proc/config
    chown root system /proc/config/all
    chown root system /proc/config/all/new
    chown root system /proc/config/all/lock
    chown root system /proc/config/all/.delete
    chown root system /proc/config/barcode/ascii
    chown root system /proc/config/battid/ascii
    chown root system /proc/config/bootmode/ascii
    chown root system /proc/config/bt_mac/ascii
    chown root system /proc/config/carrier_sku/ascii
    chown root system /proc/config/date/ascii
    chown root system /proc/config/fti/ascii
    chown root system /proc/config/imei/ascii
    chown root system /proc/config/sku/ascii
    chown root system /proc/config/reload
    chown root system /proc/config/wifi_mac/ascii
    chown root system /proc/hw
    chown root system /proc/hw/all
    chown root system /proc/hw/all/new
    chown root system /proc/hw/all/lock
    chown root system /proc/hw/all/.delete
    chown root system /proc/hw/dualsim/ascii
    chown root system /proc/hw/frontcolor/ascii
    chown root system /proc/hw/reload

on property:sys.bootbroadcast_completed=*
    setprop vendor.sys.bootbroadcast_completed ${sys.bootbroadcast_completed}
on property:vendor.boot_completed=1
    setprop ro.vendor.boot.hwrev                ${ro.boot.hwrev}
    setprop ro.vendor.boot.secure_hardware      ${ro.boot.secure_hardware}
    setprop ro.vendor.carrier                   ${ro.carrier}
    setprop ro.vendor.build.version.sdk         ${ro.build.version.sdk}
    setprop ro.vendor.sys.adb_reset_protected   ${ro.sys.adb_reset_protected}
    setprop ro.vendor.telephony.default_network ${ro.telephony.default_network}
    setprop ro.vendor.boot.radio                ${ro.boot.radio}
    setprop ro.vendor.build.description         ${ro.build.description}
    setprop ro.vendor.blan.interface            ${ro.blan.interface}
    setprop vendor.init.svc.adbd                ${init.svc.adbd}
    setprop persist.vendor.sys.motdpm.allow_adb ${persist.sys.motdpm.allow_adb}
